<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Painel de Controle</h1>
    <div class="user-info">
      <span>Olá <strong>{{ currentUser?.nome}}</strong> </span>
      <button class="btn btn-outline" (click)="logout()">Sair</button>
    </div>
  </div>
  <!-- Alertas de feedback  -->
  <ng-container *ngIf="successMessage">
    <div class="alert alert-success">
      {{ successMessage }}
    </div>
  </ng-container>
  
  <ng-container *ngIf="errorMessage">
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </ng-container>
  <div class="dashboard-body">
    <div class="dashboard-cards">
      <!-- Card para gerenciar usuários - visível apenas para ADMIN -->
      <div class="card" *ngIf="isAdmin">
        <div class="card-icon admin-icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="card-content">
          <h3>Gerenciar Usuários</h3>
          <p>Visualize, edite e remova usuários do sistema.</p>
          <button class="btn btn-primary" (click)="goToUsers()">Acessar</button>
        </div>
      </div>

      <!-- Card para gerenciar endereços - visível para todos -->
      <div class="card">
        <div class="card-icon address-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="card-content">
          <h3>Meus Endereços</h3>
          <p>Gerencie seus endereços cadastrados.</p>
          <button class="btn btn-primary" (click)="goToAddresses()">Acessar</button>
        </div>
      </div>

      <!-- Card para perfil do usuário - visível para todos -->
      <div class="card">
        <div class="card-icon profile-icon">
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="card-content">
          <h3>Meu Perfil</h3>
          <p>Visualize e edite suas informações pessoais.</p>
          <button class="btn btn-primary" (click)="goToMyProfile()">Acessar</button>
        </div>
      </div>
    </div>
  </div>
</div>